
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.body{
    width: 100%;
    height: 60vh;
    background-image:url(../images/hero-bg-2.jpg) ;
    background-repeat:no-repeat ;
    background-size: cover;
    background-color: rgba(0,0,0.7);
    position: relative;
    overflow-x: hidden;
}
.main-content{
    position: absolute;
    top: 0;
}
.manebar{
    width:100%;
    height:auto;
    background-color: black;
    position: fixed;
}
.cont{
    margin-left: 5rem;
    margin-right: 5rem;
    position: relative;
    display: flex;
    padding: 1rem;
}
.cont-img{
    width: 10rem;
    height:auto;
}
.cont-img img{
   border:1rem;
   border-color: antiquewhite;
   width:inherit;
   height:inherit;
   cursor: pointer;
}
.cont-span{
    position: absolute;
    right: 0rem;
    top:2rem;
}
.cont-span span{
    color: aliceblue;
    padding: 1rem;
    cursor: pointer;
}
.manebar span:hover{
    text-decoration: underline;
    transition: 5s;
}
.home:hover .home-drop{
    display:block;
}
.home-drop{
    display:none;
    position:absolute;
    right:15rem;
    top:2.2rem;
    background-color: darkslategrey;
    color:black;
    width:10rem;
}
.home-drop span{
    padding:1rem;
    display:block;
}
.home-drop span:hover{
    color: aqua;
    text-decoration: underline;
    transition: 3s;
}
.main{
    width:100%;
    height:65vh;
    border-color: #7fff00;
    display: flex;
    font-size: large;
}
.main1{
    height: 20rem;
    width: 50%;
    color: azure;
    border-color: chartreuse;
    padding: 5rem;
    font-size: 20px;
}
.main1 span{
    color: crimson;
}
.main-img{
    height:25rem;
    width: 50%;
    /* border: chartreuse solid 1px; */
    gap: 5rem;
    padding-top: 2rem;
}
.main-img img{
    height: 100%;
    width: 55%;
    padding-left: 1rem;
    padding-top: 6rem;
    align-items: center;
}
.mn1{
    height: 4rem;
    width: 10rem;
    padding-top: 4rem;
    align-items: center;
    display: flex;
}
.mn11{
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
    background-color:aliceblue ;
}
.mn11 span{
    margin-top: 5rem;
    padding-top: 2rem;
    padding-right: 5rem;
}
.mn12{
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
    background-color:aliceblue ;
}
.mn13{
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
    background-color:aliceblue ;

}
.center{
    width:100%;
    height: 30rem;
    border:5rem;
    border-color: #7fff00;
    align-items: center;
}
.cn1{
    margin: auto;
    max-width: fit-content;
}   
.cn11{
    width: 35rem;
    align-items: center;
    font-size: 20px;
    padding-top: 2rem;
    text-align: center;
}
.cn11 span{
    color: red;
}
.cn12{
    width:35rem;
    text-align: center;
    font-size: 20px;
}
.cn-bx{
    border:3rem red;
    height: 30rem;
    width: 100%;
    display:flex;
    gap:4rem;
    padding-left: 4rem;
    margin-left: 30px;
}
.cn-bx1{
    width: 23rem;
    height: 15rem;
    box-shadow: 0px 0px 0px 7px #fafafa;
    border-radius: 1rem;
    padding: 2rem;
}
.cn-bx2{
    width: 22rem;
    height: 15rem;
    box-shadow: 0px 0px 0px 7px #fafafa;
    border-radius: 1rem;
    padding: 2rem;
}
.cn-bx3{
    width: 25rem;
    padding: 2rem;
    height: 15rem;
    box-shadow: 0px 0px 0px 7px #fafafa;
    border-radius: 1rem;
}
.cn-bx4{
    width: 27rem;
    padding: 2rem;
    height: 15rem;
    box-shadow: 0px 0px 0px 7px #fafafa;
    border-radius: 1rem;
}
.cn3{
    width: 100%;
    height: 50rem;
    background-color: #F4F4F4;
    border-color: #7fff00;
    display: flex;
    padding-left:4rem ;
    position: static;
}
.cn31{
    width: 50%;
    padding-left: 1rem;
    padding-top: 4rem;
    position: relative;
}
.cn311 {
    font-size: 45px;
    width: 80%;
}
.cn311 span{
    color: red;
}
.cn312{
    font-size: 16px;
    width: 70%;
}
.cn32{
    padding-right: 5rem ;
    padding-top: 2rem;
}
.cn4{
    border-color: #7fff00;
    height: 35rem;
    width: 100%;
    display: flex;
}
.cn41{
    width: 40%;
    height: inherit;
    border-color: #7fff00;
    padding: 3rem;
}
.cn41 img{
    height: 26rem;
    width: 21rem;
    padding-left: 7rem;
    padding-top: 3rem;
}
.cn42{
    width: 60%;
    height: inherit;
    padding-left: 4rem;

}
.cn421{
    font-size: 35px;
    padding-left: 2rem;
    padding-top: 2rem;
}
.cn421 span{
    color: red;
}
.cn422{
    font-size: 17px;
    padding-left: 2rem;
}
.cn43{
    display: flex;
    padding: 2rem;
    gap: 3.5rem;
}
.cn5{
    height: 38rem;
    width: 100%;
    background-color: #F4F4F4;
    text-align: center;
    padding-top: 5rem;
}
.cn51{
    font-size: 35px;
}
.cn51 span{
    color: red;
    
}
.cn52{
    font-size: 20px;
}
.cn53{
    width: 70rem;
}
.cn53-img img{ 
    width: 100%;
    padding-left: 4rem;
}
.cn54{
    width: 100%;
    display: flex;
    text-align: center;
    gap:3rem;
}
.cn541{
    width: 50%;
    padding-left: 7rem ;
}
.cn5411{
    color: red;
    font-size: 35px;
}
.cn5411 span{
    font-size: 50px;
    font-weight:bolder
}
.cn5412{
    font-weight: bold;
    font-size: 20px;
}
.cn5413{
    text-align: center;
    font-size: 20px;
    width: 100%;
}
.cn542{
    width: 50%;
    padding-left: 3rem ;
}
.cn5421{
    color: red;
    font-size: 35px;
}
.cn5421 span{
    font-size: 50px;
    font-weight:bolder
}
.cn5422{
    font-weight: bold;
    font-size: 20px;
}
.cn5423{
    text-align: center;
    font-size: 20px;
}
.cn6{
    width:100%;
    height: 50rem;
    display:flex;
}
.cn61{
    width: 35%;
}
.cn61-img img{
    width: 70%;
    height: 45rem;
    padding: 4rem;
    padding-top: 15rem;
}
.cn62{
    width: 50%;
    padding:5rem;
}
.cn62 span{
    color: red;
}
.cn621{
    font-size: 30px;
    padding-left: 3rem;
}
.cn622{
    font-size: 25px;
    padding-left: 2rem;
}
.cn623{
    display: flex;
    padding: 1rem;
    gap: 2rem;
}
.cn6231{
    width: 50%;
    padding-top: 2rem;
    padding-left: 2rem;
    color: gray;
}
.cn62312{
    padding-top: 2rem;
}
.cn62313{
    padding-top: 2rem;
}
.cn6232{
    width: 50%;
    padding-top: 2rem;
    padding-left: 2rem;
    color: gray;
}
.cn6221{
    width: 50%;
    padding-top: 2rem;
}
.cn62322{
    padding-top: 2rem;
}
.cn62323{
    padding-top: 2rem;
}
.cn7{
    width: 100%;
    height: 43rem;
    background-image:url(../images/bg-image.jpg) ;
    display: flex;
    background-size: cover;
    background-blend-mode: darken;
}
.cn71{
    width: 50%;
    padding-top: 10rem;
    padding-left: 5rem;
}
.cn711{
    font-size: 25px;
}
.cn711 span{
    color: red;
}
.cn712{
    font-size: 18px;
}
.cn713{
    display: flex;
    width: 10rem;
    height: 2rem;
    border-color: #F4F4F4;
    border-radius: 4rem;
}
.cn72{
    width: 50%;
}
.cn72-img img{
    height:41rem;
    width: 65%;
    padding-left:  3rem;
    padding-top: 5rem;
}